<form>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Card Number">
    </div>
  </div>
  <div class="form-row">
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Expiry Month">
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Expiry Year">
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="CVV">
    </div>
  </div>
</form>
