<form (submit)="submit($event)" [formGroup]="flepzAccountForm">
  <div class="form-group">
    <input formComtrolName="firstName" type="text" class="form-control" id="first_name" aria-describedby="emailHelp" placeholder="First Name">
  </div>
  <div class="form-group">
    <input formComtrolName="lastName" type="text" class="form-control" id="last_name" placeholder="Last Name">
  </div>
  <div class="form-group">
    <input formComtrolName="email" type="email" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <input formComtrolName="phone" type="text" class="form-control" id="phone" placeholder="Phone">
  </div>
  <div class="form-group">
    <input formComtrolName="zipCode" type="text" class="form-control" id="zip_code" placeholder="Zip Code">
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Continue</button>
  </div>
</form>
