<div class="row">
  <div class="col">
    <h1 class="text-center">Please select an offer</h1>
    <div *ngFor="let offer of offers" class="offer-container">
      <app-offer [offerData]="offer" (selected)="setSelectedOffer($event)"></app-offer>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6 text-center">
    <button routerLink="/" type="button" class="btn btn-primary">Back</button>
  </div>
  <div class="col-6 text-center">
    <button routerLink="../credit-card" type="button" class="btn btn-primary">Continue</button>
  </div>
</div>
